.categoryCard {
  width: 252px;
  height: 344px;
  color: white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.cat-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat-desc {
  font-weight: 300;
  position: absolute;
  top: 15px;
  left: 15px;
}

.cat-title {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size:24px;
  font-weight: 500;
}
