.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color:#1a2e2e;
  color: white;
}

.feature-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.fea-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fea-h2 {
  font-size: 35px;
}

.fea-span {
  font-style: italic;
  font-weight: 300;
}

.fea-search {
  background-color: white;
  padding-left: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.fea-searchInput {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fea-input {
  width:600px;
  border: none;
  outline: none;
}

.fea-input:placeholder {
  color: gray;
}

.fea-search-btn {
  width: 120px;
  height: 50px;
  border: none;
  background-color:#555555;
  color: white;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 15px;
}

.fea-popular {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fea-span {
  width: max-content;
}

.fea-button {
  width: max-content;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 14px;
}

.fea-right {
  height: 100%;

}
