.foot-footer {
  display: flex;
  justify-content: center;
  color: #666;
  margin: 50px 0px;
}    
.foot-img {
width: 24px;
height: 24px;
}

.foot-container {
width: 1400px;}
.foot-top {
display: flex;
justify-content: space-between;}
.foot-item {
display: flex;
flex-direction: column;
gap: 20px;}
.foot-h2 {
font-size: 16px;
color: #555;
}
.foot-span {
font-weight: 300;
}


.foot-hr {
margin: 50px 0px;
height: 0;
border: 1px solid #ebe9e9;
}
.foot-bottom {
display: flex;
align-items: center;
justify-content: space-between;
}
.foot-left {
width: max-content;
display: flex;
align-items: center;
gap: 20px;
}
.foot-span {
font-size: 13px;
white-space: nowrap;
}

.foot-right {
width: max-content;
display: flex;
align-items: center;
gap: 30px;
}
.foot-social {
display: flex;
gap: 20px;
}

.foot-link {
display: flex;
align-items: center;
gap: 10px;
}
