.navbar{
  background-color:darkslategray;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}

.container{
  width: 1300px;
  display: flex;
  justify-content: space-evenly;
  background-color:darkslategray;
  padding: 20px 0px;
}

.logo{
  font-size: 34px;
  font-weight: bold;
}

/* .text{} */

.links{
  display: flex;
  gap: 24px;
  align-items: center;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
}

button:hover{
  background-color: rgb(93, 128, 128);
  border-color:rgb(93, 128, 128);
}

hr{
  width: 100%;
  height: 0;
  border:0.5px solid lightgray;
}

.menu{
  width: 1300px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color:grey;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}