
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
  background-color:darkslategray;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  transition: 1.5s all ease;
  position: sticky;
  top:0;
  z-index: 999;
}

.active{
  background-color:rgb(116, 150, 150);
  color: white;
  width: 100%
}


.container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}

.logo{
  font-size: 34px;
  font-weight: bold;
}

a, a:visited, a:hover, a:active {
  color: white; 
  text-decoration: none;
}


.links{
  display: flex;
  gap: 24px;
  align-items: center;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
  white-space: nowrap;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.options {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  background-color:darkslategray;
  border-radius: 10px;
  z-index: 999;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  font-weight: 300;
  color:darkgrey
}

button{
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
}

button:hover{
  background-color: rgb(93, 128, 128);
  border-color:rgb(93, 128, 128);
}

hr {
  width: calc(100% - 2px);
  height: 0;
  border-top: 0.5px solid #ebe9e9;
  border-bottom: 0.5px solid #ebe9e9;
}

.menu{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color:grey;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
